



#p1{color:red;}
#p2{color:greenyellow}
#p3{color: gold;}
#p4{color:blue}
#p5{color:darkmagenta}
#p6{color: deeppink}
#p7{color:deeppink}

.hello {color:dodgerblue}
.hi {color:dodgerblue}



#p10{color: honeydew;}