html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: move 3s linear infinite alternate;
}

@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 100%;
        transform: translateX(-100%);
    }
}
