/* background - უკანა ფონი */

body{
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
    background-repeat: no-repeat;
   /* background-size: cover; */
    background-position: center;
   /* height: 100vh; */
    

}

