.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    border: 1px solid red;
    padding: 10px;
  }

  .purple { background: purple; grid-column: 1 / span 2; }
  .blue   { background: blue; }
  .red    { background: brown; }
  .orange { background: orange; }
  .green  { background: lime; grid-row: 1 / span 3; }